In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import scipy.stats as stats



from pandas.plotting import scatter_matrix
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, cross_val_score
from sklearn.datasets import make_classification
from sklearn.metrics import precision_recall_curve, roc_curve, confusion_matrix, classification_report, accuracy_score, precision_score, recall_score, auc

from sklearn import metrics
from sklearn.preprocessing import StandardScaler

import sys
sys.path.insert(0, '../src')
sys.path.insert(0, '../data')

import functions


%load_ext autoreload
%autoreload 2

In [12]:
columns = ['DEP', 'PT', 'AGE', 'GT', 'EL', 'SC', 'CO', 'FA', 'ST']

## Data Import

Psychological Operations Assessment and Selection (POAS)

In [16]:
poas_filepath = '../data/poas'
poas_filenames = ['poas16.xlsx', 'poas17.xlsx', 'poas18.xlsx', 'poas19.xlsx', 'poas20.xlsx', 'poas21.xlsx', 'poas22.xlsx']


poas = functions.clean_data(poas_filepath, poas_filenames, columns)
poas.sample(5)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

,RANK,RACE,MOS,SEC,AB,RGR,PT,ED,MARITAL,DEP,...,LANG,GT,EL,SC,CO,FA,ST,WVR,RESULT,CODE
823,SPC,W,11B,T,T,F,262,HSD,S,0,...,1,131,132,130,131,131,131,F,SELECT,SEL
240,SSG,W,11B,F,F,F,286,HSD,M,1,...,1,115,104,103,105,115,113,F,INVOLUNTARY WITHDRAW,IVW
1271,SPC,W,68W,T,F,F,253,4YR,S,0,...,0,132,123,126,121,121,126,T,INVOLUTARY WITHDRAW,IVW
2369,SSG,W,25B,T,T,F,299,2 YR,M,0,...,1,116,109,109,107,107,111,T,SELECT,SEL
1337,SPC,B,13B,T,T,F,266,HSD,S,0,...,0,112,121,119,115,116,118,F,APFT FAILURE,APFT

Special Forces Assesment and Selection (SFAS)

In [17]:
sfas_filepath = '../data/sfas'
sfas_filenames = ['sfas16.xlsx', 'sfas17.xlsx', 'sfas18.xlsx', 'sfas19.xlsx', 'sfas20.xlsx', 'sfas21.xlsx', 'sfas22.xlsx']

sfas = functions.clean_data(sfas_filepath, sfas_filenames, columns)
sfas.sample(5)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

,RANK,RACE,MOS,SEC,AB,RGR,PT,ED,MARITAL,DEP,...,LANG,GT,EL,SC,CO,FA,ST,WVR,RESULT,CODE
269,SPC,W,11B,T,T,F,271,2YR,S,0,...,1,132,141,140,141,140,139,F,SELECTED,SEL
3882,SGT,B,88M,T,T,F,293,HSD,S,0,...,0,118,108,109,106,107,109,T,SELECTED,SEL
6583,SPC,B,25S,T,F,F,278,HSD,S,0,...,0,126,116,117,116,117,120,F,INVOLUNTARY WITHDRAW,IVW
1281,SPC,W,88M,F,F,F,500,HSD,S,0,...,1,119,109,113,107,109,113,F,INVOLUNTARY WITHDRAW,IVW
5915,SPC,W,25U,T,F,F,243,HSD,M,0,...,0,117,124,122,123,122,120,T,INVOLUNTARY WITHDRAW,IVW