In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import scipy.stats as stats



from pandas.plotting import scatter_matrix
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, cross_val_score
from sklearn.datasets import make_classification
from sklearn.metrics import precision_recall_curve, roc_curve, confusion_matrix, classification_report, accuracy_score, precision_score, recall_score, auc

from sklearn import metrics
from sklearn.preprocessing import StandardScaler

import sys
sys.path.insert(0, '../src')
sys.path.insert(0, '../data')

import functions


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [57]:
filepath = '../data/poas'
filenames = ['poas16.xlsx', 'poas17.xlsx', 'poas18.xlsx', 'poas19.xlsx', 'poas20.xlsx', 'poas21.xlsx', 'poas22.xlsx']
columns = ['DEP', 'PT', 'AGE', 'GT', 'EL', 'SC', 'CO', 'FA', 'ST']
poas = functions.clean_data(filepath, filenames, columns)
poas

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

,RANK,RACE,MOS,SEC,AB,RGR,PT,ED,MARITAL,DEP,...,LANG,GT,EL,SC,CO,FA,ST,WVR,RESULT,CODE
0,SGT,O,42A,T,F,F,276,HSD,M,1,...,1,110,107,106,105,106,106,T,IVW,IVW
1,SSG,O,11B,T,F,F,242,HSD,M,1,...,1,111,116,119,118,119,116,F,IVW,IVW
2,SPC,H,42A,T,F,F,245,4YR,M,4,...,1,115,111,113,110,112,112,F,FAILED ARMY STANDARD 60/180 (HB),APFT
3,SGT,W,11B,T,F,F,295,HSD,M,1,...,1,108,116,116,119,120,117,F,SELECT,SEL
4,SPC,H,11C,F,T,F,282,4YR,M,1,...,1,124,121,120,122,122,123,F,IVW,IVW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2645,PFC,B,92Y,F,F,F,298,4 YR,M,2,...,1,124,119,121,116,117,117,F,INVOLUNTARY WITHDRAWAL,IVW
2646,PFC,W,12B,T,F,F,228,HSD,M,1,...,0,103,108,105,109,109,105,F,PFA FAILURE,PFA
2647,SPC,W,25N,T,F,F,277,HSD,S,0,...,0,104,105,106,105,104,106,F,NON-SELECT,BRD
2648,PFC,W,14T,T,F,F,229,HSD,M,0,...,0,102,100,100,98,97,100,F,NON-SELECT,BRD
2649,PFC,W,11B,T,F,F,289,HSD,M,1,...,0,109,110,110,111,110,112,F,SELECT,SEL

In [58]:
filepath = '../data/sfas'
filenames = ['sfas16.xlsx', 'sfas17.xlsx', 'sfas18.xlsx', 'sfas19.xlsx', 'sfas20.xlsx', 'sfas21.xlsx', 'sfas22.xlsx']
sfas = functions.clean_data(filepath, filenames, columns)
sfas

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

,RANK,RACE,MOS,SEC,AB,RGR,PT,ED,MARITAL,DEP,...,LANG,GT,EL,SC,CO,FA,ST,WVR,RESULT,CODE
0,SGT,B,11B,T,F,F,274,HSD,M,2,...,1,113,101,103,98,99,103,F,INVOLUNTARY WITHDRAW,IVW
1,SPC,W,12K,F,F,F,275,GED,M,0,...,1,114,123,122,124,125,121,T,INVOLUNTARY WITHDRAW,IVW
2,SGT,W,11B,T,T,F,290,HSD,M,2,...,1,110,119,114,112,113,119,F,SELECTED,SEL
3,SGT,W,13B,T,F,T,297,HSD,M,1,...,1,115,112,112,111,112,113,F,SELECTED,SEL
4,SPC,H,91B,T,T,F,247,GED,M,4,...,1,117,111,112,109,109,114,F,INVOLUNTARY WITHDRAW,IVW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8325,SGT,W,11B,T,F,F,292,HSD,S,0,...,0,101,108,110,111,111,109,F,INVOLUNTARY WITHDRAW,IVW
8326,SSG,W,13F,T,T,T,300,6 YR,S,0,...,0,120,123,123,123,123,123,F,SELECTED,SEL
8327,SGT,W,15T,T,F,F,294,HSD,M,0,...,0,129,130,131,128,128,130,F,SELECTED,SEL
8331,SGT,W,92F,T,T,F,274,4 YR,D,0,...,0,135,141,140,142,143,140,F,PFA FAILURE,PFA
8333,SPC,W,11B,T,F,F,272,HSD,S,0,...,0,126,125,126,125,126,126,F,SELECTED,SEL