In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import scipy.stats as stats



from pandas.plotting import scatter_matrix
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, cross_val_score
from sklearn.datasets import make_classification
from sklearn.metrics import precision_recall_curve, roc_curve, confusion_matrix, classification_report, accuracy_score, precision_score, recall_score, auc

from sklearn import metrics
from sklearn.preprocessing import StandardScaler

import sys
sys.path.insert(0, '../src')
sys.path.insert(0, '../data')

import functions


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [93]:
filepath = '../data/poas'
filenames = ['poas16.xlsx', 'poas17.xlsx', 'poas18.xlsx', 'poas19.xlsx', 'poas20.xlsx', 'poas21.xlsx', 'poas22.xlsx']
poas = functions.read_excel_files(filepath, filenames)
poas.sample(5)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

,RANK,RACE,MOS,SEC,AB,RGR,PT,ED,MARITAL,DEP,...,LANG,GT,EL,SC,CO,FA,ST,WVR,RESULT,CODE
2536,CPL,W,25B,T,F,F,269.0,HSD,M,0.0,...,ENGLISH,116,114.0,115.0,114.0,114.0,115.0,F,PFA FAILURE,PFA
651,SPC,W,91B,F,F,F,267.0,2YR,M,4.0,...,,117,113.0,118.0,112.0,113.0,114.0,F,SELECT,SEL
1310,SPC,W,42R,T,F,F,242.0,6YR,D,4.0,...,NaN,128,123.0,123.0,121.0,121.0,124.0,F,INVOLUTARY WITHDRAW,IVW
1898,SGT,W,11B,T,F,F,279.0,HSD,S,0.0,...,NaN,104,123.0,122.0,126.0,125.0,119.0,T,PFA FAILURE,PFA
1521,PFC,W,11B,T,T,F,271.0,2YR,S,0.0,...,NaN,123,138.0,137.0,141.0,139.0,135.0,T,SELECT,SEL

In [94]:
functions.binary_language(poas)
poas.sample(10)

,RANK,RACE,MOS,SEC,AB,RGR,PT,ED,MARITAL,DEP,...,LANG,GT,EL,SC,CO,FA,ST,WVR,RESULT,CODE
766,SGT,W,11C,T,T,F,266.0,HSD,M,2.0,...,1,118,114.0,116.0,113.0,113.0,116.0,F,SELECT,SEL
560,SPC,B,11B,T,F,F,295.0,HSD,M,3.0,...,1,108,109.0,110.0,111.0,111.0,111.0,F,SELECT,SEL
264,PFC,W,11C,F,T,F,261.0,HSD,S,0.0,...,1,108,112.0,113.0,113.0,112.0,112.0,F,NO SHOW,NS
984,SPC,W,15U,T,F,F,253.0,HSD,M,2.0,...,1,123,119.0,119.0,119.0,121.0,120.0,F,SELECT,SEL
1189,PFC,W,14E,T,F,F,289.0,1YR,S,0.0,...,0,141,137.0,138.0,136.0,137.0,139.0,T,SELECT,SEL
564,SPC,W,11B,T,F,F,248.0,4YR,S,0.0,...,1,119,120.0,119.0,119.0,119.0,120.0,T,SELECT,SEL
1896,SGT,I,35P,T,T,F,270.0,HSD,M,3.0,...,1,121,117.0,116.0,115.0,116.0,117.0,T,SELECTED,SEL
1361,SPC,W,91C,F,F,F,271.0,2YR,M,0.0,...,0,120,126.0,123.0,125.0,124.0,123.0,F,SELECT,SEL
1672,SPC,W,94F,T,F,F,244.0,4YR,S,0.0,...,0,137,131.0,132.0,129.0,130.0,133.0,F,VOLUNTARY WITHDRAWAL,APFT
660,SGT,W,12B,T,F,F,249.0,HSD,S,3.0,...,1,117,125.0,126.0,125.0,125.0,123.0,T,APFT FAILURE,APFT

In [97]:
poas.DEP = poas.DEP.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
poas.LANG.unique()

In [ ]:
filepath = '../data/sfas'
filenames = ['sfas16.xlsx', 'sfas17.xlsx', 'sfas18.xlsx', 'sfas19.xlsx', 'sfas20.xlsx', 'sfas21.xlsx', 'sfas22.xlsx']
sfas = functions.read_excel_files(filepath, filenames)
sfas.sample(10)